.Rproj.user
.Rhistory
.RData
.Ruserdata

GISData
SQL/data

**/data
**/Data

/data
/Data

20_09_19_exercise
20_10_03_exercise
21_03_11_exercise
21_03_13_exercise
21_03_18_Keras
21_03_23_Intro_to_Supervised_Learning
21_03_27_Decision_trees_Exercise_PDP
21_04_06_exercise
21_04_10_Imbalanced_Classes
21_04_17_SHAP
Agiles_Class_Examples
AT_aws
aws
Business_Understanding
Classmates
DCCourses
Fundamentals
Graded_Work
kaggle-alto

